.home-page{
  .swiper {
    position: relative;
    .arrow-left {
      position: absolute;
      top: 50%;
      left: 1%;
      &:hover {
        cursor: pointer;
      }
    }
    .arrow-right {
      position: absolute;
      top: 50%;
      right: 1%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .feature {
    background-color: #F5F5F5;
    .row1 {
      // padding: 44px 0 926px  0;
      background-color: #F5F5F5;
      
      h3 {
        font-size: 40px;
        font-weight: 400;
        background: linear-gradient(#F21299,#1B02B5);
        color: #fff;
        padding: 12px;
        padding-left: 30px;
      
      }
     
    }
    .row2{
      background-color: #F5F5F5;
      .card{
        background-color: #F8F8F8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        .card-top{
          // text-align: left;
          padding:15px 15px 0px;
          p{
            text-align: left;
            padding-left: 30px;
          }
        }
      
        .card-body{
          margin: 0;
          padding: 0;
          text-align: center;
          a{
            background-color: #E1B067;
            font-size: 24px;
            font-weight: 400;
            text-decoration: none;
            color: #000;
            padding: 17px  ;
          }
          p{
            // padding: 17px;
            background-color: #DEDDDC;
            font-size: 24px;
            font-weight: 600;
            margin: 0;
            padding: 17px;
          }
        }
      }
    }
  
  }
  
}